@font-face {
    font-family: "TiltNeon";
    src: local("TiltNeon"),
    url("./fonts/TiltNeon-Regular.ttf") format("truetype");
    font-weight: normal;
}

* {
    font-family: TiltNeon, serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

#loader {
    position: fixed;
    top: 0;
}